body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d5cbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    background: linear-gradient(128.05deg, #FEF8F5 9.51%, #EEF8FF 55.51%);
    width: 390px;
  }
  
  .slideshow-container {
    position: relative;
    width: 100%;
    height: 300px;
}

.slide {
    display: none;
    text-align: center;
}

.slide-img {
    max-height: 250px;
    width: 100%;
    border-radius: 10px;
}

.fade {
    animation: fade 1.5s;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

.dots-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #28a745;
}

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  